### 변수
어떤 값을 저장한기 위한 저장공간


### 변수이름의 규칙
- 영문자 혹은 _ 시작
- 대소문자 구분
- 숫자로 시작할 수 없음
- 특수문자 사용안됨
- 공백안됨
- 파이썬 예약어 사용안됨

In [29]:
# 파이썬은 모든 것이 다 객체(class)이다.

# a는 변수
a = 7
b = 5 
print(b, type(b))

# int : 정수형 타입

5 <class 'int'>

In [34]:
b = a
print(b)

# call by reference : 객체가 메모리의 주소를 가진다.
a = 5
print(a)

5
5

### 변수선언

- 하나의 변수에 하나의 값을 대입
- 두개의 변수에 같은 값을 대입
- 변수에 변수를 대입

In [8]:
# 하나의 변수에 하나의 값
a = 1 
b = 1 

# 변수에 값을 할당
age = 30 # 정수형
name = "홍길동"
name2 = None # 빈값
print(type(name))
pi = 3.14 
print(type(pi)) # 실수형
real = True
print(type(real)) # 논리형

# 변수의 재할당
x = 10
print(type(x))
x = 'hello'
print(type(x))
x = [1,2,3]
print(type(x))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'list'>

In [10]:
# 두개의 변수에 같은 값을 대입
a = b = 1

# 변수에 변수를 대입
a = 1 
b = a 

print(a, b)

1 1

In [19]:
# 값을 변경해보자
a = 10
b = 2000

a, b = b, a # swap(a, b)
print(a, b)

# 변수의 자료형 확인
x = 10
print(type(x))

# 변수의 활용
x = 10
y = 20 
sum = x + y

name = 'kim'
msg = 'Hello' + ' ' +  name + '!'
print(msg)

2000 10
<class 'int'>
Hello kim!

In [21]:
# 변수의 출력
a = 10
A = 20 

print(a, A)

10 20

In [22]:
# 변수 선언시 주의할 점

# age = 30 name = 'kim'  # 한 라인에 2개의 변수를 선언 불가
# 30age = 30 # 변수 이름에 숫자 사용 불가

# 변수명은 대소문자를 구분
age = 30
Age = 30

### data type (자료형)
- 프로그램에서 표현하고 저장하는 데이터 유형 (= 메모리의 크기가 결정)

1. 순서형 자료형
 - 숫자(number) : 정수, 실수, 복소수....
 - 문자(strings) : 문자열
 - 리스트(list) : 객체의 집합 (= 인덱스가 있다)
 - 튜플(tuples) : 객체의 집합 (= 인덱스가 있다)

2. 비순서형 자료
 - Dictionary(딕셔너리) : key & value 
 - Set (집합) 
 - bool : True & False

In [27]:
# number 
print(3)
print(-3.2)
print(type(3), type(-3.2))

3
-3.2
<class 'int'> <class 'float'>

In [33]:
# 연산자
# +, -, *, /

a = 4
b = 3.2
c = 2

print(a + b, a - b, a * b, a / b)

7.2 0.7999999999999998 12.8 1.25

In [38]:
# % : 나머지 연산자
# // : 몫 연산자

print(a % c)
print(a // c)

0
2

In [45]:
# ** : 제곱 연산자 

print(a**c)

16

In [55]:
# Python 관련 함수
# 내장함수 int, float

print(int(6.2))

print(float(5))

# 절댓값
print(abs(-2.2))
# 제곱근
print(pow(4, 2))

6
5.0
2.2
16

### 문자열
- 큰따움표 혹은 작은 따움표로 문자열을 만든다.
- 문자열 내부에 따옴표가 필요한 경우 '이스케이프(백슬래시)'\ 문자를 통해 가능

In [62]:
# 큰 따움표, 작은 따움표의 활용
word = "Hello"
print(word)

print("Hello")

# 문자열 내부의 작은 따움표
print("I'm Smart")

print('I\'m Smart')
print('Kavin는 \'파이썬 프로그램\' 잘한다.')

Hello
Hello
I'm Smart
I'm Smart
Kavin는 '파이썬 프로그램' 잘한다.

In [64]:
# 여러개의 문자열
sentence = """
글을 쓴다. 
세줄도 된다.
네줄도 된다.
"""

print(sentence)

글을 쓴다.
세줄도 된다.
네줄도 된다.

In [66]:
sentence = """\
글을 쓴다. 
세줄도 된다.
네줄도 된다.\
"""

print(sentence)

글을 쓴다.
세줄도 된다.
네줄도 된다.

In [69]:
# 이스케이프 문자
# \n: 줄바꿈, \t: 탭, \\: 역슬래쉬, \': 작은따움표, \": 큰따움표

sentence1 = "1\n2"
sentence2 = "3\t4"
sentence3 = '\'작은따움표\' 출력'
sentence4 = "\"큰따움표\" 출력"
print(sentence1, sentence2, sentence3,sentence4)

1
2 3	4 '작은따움표' 출력 "큰따움표" 출력

In [72]:
# 문자열 자료형(string)
# - 연산자 +, *

a = '파이썬! '
b = "programing"

print(a + b)

파이썬! programing

In [73]:
# [*]는 문자열 반복 연산자
equal = "=" * 30
sentence = equal + "\npython!\n" + equal
print(sentence)

==============================
python!
==============================

# 문자열 인덱싱과 슬라이싱
- 인덱싱
  문자열 내부에 문자 하나를 선택하는 연산자 : []
  [] 안에 선택할 문자의 위치를 지정 : index는 0부터 시작

In [83]:
sentence = '파이썬 프로그래밍'
print(sentence)

# 순방향 : 0부터 시작
# 역방향 : -1부터 시작
print(sentence[4])
print(sentence[-1])

파이썬 프로그래밍
프
밍

- 슬라이싱
  문자열의 특정 범위 선택 : [ : ] 
  문자열[인덱스1 : 인덱스2] : 인덱스2 포함되지 않는다.

In [95]:
sentence = "파이썬 프로그래밍"
print(sentence[4 : 8]) # 4 ~ 7
print(sentence[5 : ]) # 뒤의 인덱스를 지정하지 않으면 끝까지 출력

프로그래
로그래밍

- formatting 
문자열 안에 어떤 값을 삽입하는 방법
1. 연산자 포멧팅 : % 
2. 함수 포멧팅 : .format
3. f-string  : f''

In [98]:
# 연산자 포멧팅
# %d : 정수, %f : 실수, %s : 문자열

sentence = '나는 %d호선을 타고 다닌다.' % 6
sentence

a = 4
b = '학교'
sentence = "나는 %d호선을 타고 %s를 간다." %(a, b)
sentence

'나는 4호선을 타고 학교를 간다.'

In [110]:
# format 함수 포멧팅
# {}를 포함한 문자열뒤에 (.)도트를 짝고 format함수를 사용


print('나는 {}호선을 타고 다녀'.format(4))
print("나는 {}호선을 타고 {}에 간다.".format(4, '학교'))

나는 4호선을 타고 다녀
나는 4호선을 타고 학교에 간다.

In [118]:
# f-string
s = 'coffee'
n = 5
result = f'저는 {s}를 좋아한다. 하루에 {n}잔 마셔요.'
result

'저는 coffee를 좋아한다. 하루에 5잔 마셔요.'

### 문자열 관련 함수
- len(x) : 문자열의 길이
- split() : 문자열 나누기
- count(x) : 문자 개수 세기
- replace('a', 'b') : 문자열 바꾸기
- upper() : 소문자를 대문자
- lower() : 대문자를 소문자
- join(x) : 문자열 삽입

In [119]:
sentence = 'kavin은 파이썬을 좋아합니다.'
print(len(sentence))

18

In [134]:
print(type(sentence.split())) # 공백기준으로 문자열 분리, class list type

<class 'list'>

In [143]:
sentence1 = '나는 샤부샤부를 좋아합니다'
print(sentence1.count('샤부'))

2

In [160]:
sentence2 = sentence1.replace('샤부샤부', '불고기')
print(sentence2)
sentence1 # 원본은 보존

나는 불고기를 좋아합니다

'나는 샤부샤부를 좋아합니다'

In [166]:
# find('a') : 위치 알려주기 
file_name = 'HAMburger.jpg'
print(file_name.find('.'))

dot_idx = file_name.find('.')
file_name[dot_idx : ]
file_name[-3:]
#file_name.split('.')[1]

print(file_name[0 : dot_idx])

9
HAMburger

In [171]:
file_name.upper()
file_name.lower()


sentence = '.'.join('abcde') # ==
sentence

'a.b.c.d.e'

### List
- 인덱싱과 슬라이싱
- 리스트 : [index]
- 대괄호 안에 들어가는 숫자를 index 라고 한다.
- 파이썬은 0부터 시작

In [173]:
# 리스트 선언
# 여러종류의 타입을 요소로 가질 수 있다.
my_list = [1, 1.35, 'kavin', [1,2,[3,4]]] # 리스트 내부에 리스트 존재 가능
my_list

[1, 1.35, 'kavin', [1, 2, [3, 4]]]

In [219]:
# 유자 출력
my_list = [1, 5.2, 2 * 3, ['커피', '물', ['우롱차', '유자차']]]
print(my_list[3][2][1][0 : 2])

유자

In [227]:
# 연산자 
# +, * (반복)

list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1 * 2 + list2)
print(len(list1 * 2 + list2))

[1, 2, 3, 1, 2, 3, 4, 5, 6]
9

In [235]:
# list의 수정, 삭제
list3 = [1, 5.2, 3 * 2, ['커피', '물', ['메실차', "우롱차"]]]
list3 

# 리스트는 수정, 삭제, 삽입이 가능
list3[2] = "변경"
list3 

del list3[2]
list3

[1, 5.2, ['커피', '물', ['메실차', '우롱차']]]

- 관련함수
- sort() : 정렬
- reverse() : 리스트 뒤집기
- append() : 리스트에 요소 추가
- expend() : 리스트 확장
- insert(a, b) : a번째 위치에 b를 삽입  
- remove(x) : x위치의 요소 제거
- count(x) : 리스트에 포함된 x의 요소 개수

In [277]:
list1 = [1, 5.2, 2, 6, 2]

# 앞의 함수들은 원본 리스트를 변경하고 반환 값이 'NONE' 이기 때문에 바로 호출하면 'NONE'이 출력됨.
# 앞의 함수들은 계산 후에 호출
list1.sort()
list1

list1.reverse()
list1

list1.append('a')
list1

list1.extend('a')
list1

list1.insert(0,'a')
list1

list1.remove(1)
list1

['a', 6, 5.2, 2, 2, 'a', 'a']

In [278]:
list2 = [3, 5, 1, 4, 8.9]
list2.sort()
b = sorted(list2)
b.sort()
print(b)

[1, 3, 4, 5, 8.9]

#### tuple 
(데이터, 데이터, 데이터,..)
만약 값이 한개일지라도
(데이터, )

값을 추가, 삭제, 수정 할수 없음

In [280]:
tuple1 = (2.3, )
type(tuple1)

float1 = (2.3)
type(float1)

float

In [282]:
tuple2 = 1, 2, 3, 4, 5
type(tuple2)

tuple

In [283]:
# 인덱싱과 슬라이싱
# 리스트와 완전 동일

tuple2
tuple2[1]

tuple3 = (5, 4, 3, 2)
# 4, 3 튜플로 출력
tuple3 [1 : 3]

(4, 3)

In [284]:
# 연산자 
# +, * (반복)
# 변경과 삭제는 불가

In [286]:
t1 = (1,2,3)
t2 = (4,5,6)
print(t1*2 + t2)

(1, 2, 3, 1, 2, 3, 4, 5, 6)

In [292]:
# t1[0] = 4 튜플은 값을 변경할 수 없다
# del t1[0] 튜플은 값을 삭제할 수 없다

### 딕셔너리 (dictionary)
- 순서가 없는 자료형
- 'key' = 'value'

- { 'key' : 'value', ..., } : 딕셔너리 값 선언
- ['key'] : key를 통해 값을 가져올 수 있다.

In [294]:
myDic = {
    "name" : "kavin",
    "job" : "IT"
}

type(myDic)

dict

In [300]:
print(myDic["name"])

kavin

In [304]:
# 관련함수
# get(): key로 value 언기
# in() : 해당키가 dict에 있는지 조사
# clear() : key와 value 모두 지우기

# 값 추가
myDic['grade'] = [98, 100, 88]
myDic

{'name': 'kavin', 'job': 'IT', 'grade': [98, 100, 88]}

## 관련함수
- keys() : key의 리스트
- values() : value의 리스트
- items() : key, value 쌍 얻기
- get() : key로 value 얻기
- in() : 해당키가 있는지 조사
- clear() : 초기화

In [311]:
myDic

{'name': 'kavin', 'job': 'IT', 'grade': [98, 100, 88]}

In [320]:
print(myDic.keys()) #키 값 확인 
print(myDic.values()) # value 값 확인

dict_keys(['name', 'job', 'grade'])
dict_values(['kavin', 'IT', [98, 100, 88]])

In [322]:
print(myDic.items())

dict_items([('name', 'kavin'), ('job', 'IT'), ('grade', [98, 100, 88])])

In [332]:
print(myDic.get("job"))
print(myDic.get("age")) # get은 값이 없어도 NONE이 리턴하도록 구성
# myDic['age'] # key값이 없어서 프로그램 오류

IT
None

In [342]:
print('grade' in myDic) # 딕셔너리 내에 해당 키값이 있는지 확인

True

In [352]:
myDic.clear()
myDic

{}

### Set (집합자료형)
비순서형 자료형
중복허용하지 않음
set([리스트, ...])
set(문자열)

In [353]:
set1 = set([1,2,3])
print(set1, type(set1))

{1, 2, 3} <class 'set'>

In [357]:
set2 = set('david') # 중복을 허용하지 않음
print(set2, type(set2))

{'a', 'd', 'v', 'i'} <class 'set'>

In [358]:
# set의 자료형
# 합집합(|), 교집합(&), 차집합(-)
# add(), update() : 여러개의 값을 추가, remove()

s1 = {1, 2, 3, 4, 5}
s2 = {1, 3, 5, 7, 9}

print(s1 | s2)

{1, 2, 3, 4, 5, 7, 9}

In [367]:
print(s1 & s2)
print(s1 - s2)

{1, 3, 5}
{2, 4}

In [368]:
s3 = set([1,2,3,4,5])
s3.add(6)
s3

{1, 2, 3, 4, 5, 6}

In [371]:
s3.update([11,13])
s3

{1, 2, 3, 4, 5, 6, 11, 13}

In [372]:
s3.remove(11)
s3

{1, 2, 3, 4, 5, 6, 13}